<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BookingSuite">
  <test thread-count="5" name="Cretate New Booking Test - pay@hotel">
  <parameter name="action" value="pay@hotel"></parameter>
    <classes>
      <class name="testcasses.BookingSearch">
      	<methods>
      		<include name="searchHotel"></include>
      		<include name="selectHotel"></include>
      		<include name="enterGuestInfo"></include>
      	</methods>
      </class>
      <class name="testcasses.PaymentManager">
      	<methods>
      		<include name="applyDiscount"></include>
      		<include name="makePayment"></include>
      	</methods>
      </class>
      <class name="testcasses.CustomerCommunications">
	      <methods>
	      	 <include name="checkEmailVerification"></include>
	      	 <include name="checkMobileVerification"></include>
	      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
  
  
  <!--  <test thread-count="5" name="Cretate New Booking Test - electronic media">
  <parameter name="action" value="electronic media"></parameter>
    <classes>
      <class name="testcasses.BookingSearch">
      	<methods>
      		<include name="searchHotel"></include>
      		<include name="selectHotel"></include>
      		<include name="enterGuestInfo"></include>
      	</methods>
      </class>
      <class name="testcasses.PaymentManager">
      	<methods>
      		<include name="applyDiscount"></include>
      		<include name="makePayment"></include>
      	</methods>
      </class>
      <class name="testcasses.CustomerCommunications">
	      <methods>
	      	 <include name="checkEmailVerification"></include>
	      	 <include name="checkMobileVerification"></include>
	      </methods>
      </class>
    </classes>
  </test>--><!-- Test -->
</suite> <!-- Suite -->
